<div class="logo-header"></div>
<header class="actions-header">
    <img src="/images/logo.png" alt="logo">
    <h1>SAVE YOUR DINO</h1>
</header>

<main class="list-page">
    {{#each user.actionsActiveButton}}
    <div class="one-action">
        <input type="checkbox" class="chevron-checkbox" id="{{this.title}}-chevron-checkbox" name="chevron-checkbox">

        <div class="one-action-title">
            <div class="one-action-title-header">
                <img src="{{icon}}" alt="Icon">
                <div>
                    <h3><a href="/actions/{{_id}}">{{title}}</a></h3>

                    <p class="tag">Pending</p>
                </div>
            </div>
            <label for="{{this.title}}-chevron-checkbox"><img class="chevron-img" src="/images/chevron.png"
                    alt="Chevron"></label>

        </div>


        <div class="one-action-description">
            <p>{{description}}</p>
            <form action="/actions/{{_id}}" method="post">

                <button type="submit" class="action-bt">Yes, I do it !</button>

            </form>
        </div>
    </div>
    {{/each}}

    {{#each user.actionsPending}}
    <div class="one-action">
        <input type="checkbox" class="chevron-checkbox" id="{{this.title}}-chevron-checkbox" name="chevron-checkbox">

        <div class="one-action-title">
            <div class="one-action-title-header">
                <img src="{{icon}}" alt="Icon">
                <div>
                    <h3><a href="/actions/{{_id}}">{{title}}</a></h3>

                    <p class="tag">Pending</p>
                </div>
            </div>
            <label for="{{this.title}}-chevron-checkbox"><img class="chevron-img" src="/images/chevron.png"
                    alt="Chevron"></label>

        </div>


        <div class="one-action-description">
            <p>{{description}}</p>
            <form action="/actions/{{_id}}" method="post">

                <button type="submit" class="action-bt-disable" disabled>Yes, I do it !</button>
            </form>
        </div>
    </div>
    {{/each}}

    {{#each user.actionsCompleted}}
    <div class="one-action">
        <input type="checkbox" class="chevron-checkbox" id="{{this.title}}-chevron-checkbox" name="chevron-checkbox">

        <div class="one-action-title one-action-title-completed">
            <div class="one-action-title-header">
                <img src="{{icon}}" alt="Icon">
                <div>
                    <h3><a href="/actions/{{_id}}">{{title}}</a></h3>
                    <p class="tag">Completed</p>

                </div>
            </div>
            <label for="{{this.title}}-chevron-checkbox"><img class="chevron-img" src="/images/chevron.png"
                    alt="Chevron"></label>

        </div>


        <div class="one-action-description one-action-description-completed">
            <p>{{description}}</p>
            <form action="/actions/{{_id}}" method="post">

                <button type="submit" class="action-bt-done ">I don't do it anymore</button>

            </form>
        </div>
    </div>
    {{/each}}

</main>