<header class="register-header register-background">
    <img src="/images/logo.png" alt="logo">
    <h1>SAVE YOUR DINO</h1>
</header>

<main class="list-page">
    <div class="logo-header"></div>
    {{#each actions}}
    <div class="one-action">
        <div class="one-action-title {{#if this.isCompleted}}-one-action-title-completed{{/if}}">
            <div class="one-action-title-header">
                <img src="{{icon}}" alt="Icon">
                <div>
                    <h3><a href="/actions/{{_id}}">{{title}}</a></h3>
                    {{#if exists}}
                    <p class="tag">Completed</p>
                    {{else}}
                    <p class="tag">Pending</p>
                    {{/if}}
                </div>
            </div>
            <img src="/images/chevron.png" alt="Chevron">
        </div>

        <div class="one-action-description {{#if this.isCompleted}}-one-action-description-completed{{/if}}">
            <p>{{description}}</p>
            <form action="/actions/{{_id}}" method="post">
                {{#if exists}}
                <button type="submit" id="action-bt-done">I don't do it anymore...</button>
                {{else}}
                <button type="submit" id="action-bt">Yes, I do it !</button>
                {{/if}}
            </form>
        </div>
    </div>
    {{/each}}

</main>