<div>

{{#each actions}}
<img src="{{icon}}" alt="">
<h3>{{title}}</h3>
{{#if isCompleted}}
<p class= "tag">Completed</p>
{{else}}
<p class = "tag"> Pending</p>
{{/if}}

<p>{{description}}</p>
<a href="/actions/{{id}}">I do this !</a>
{{/each}}

</div>