<main>
    <div>
        {{#each actions}}
        <div>
            <img src="{{icon}}" alt="Icon">
            <div>
                <h3><a href="/actions/{{_id}}">{{title}}</a></h3>
                {{#if isCompleted}}
                <p class="tag">Completed</p>
                {{else}}
                <p class="tag"> Pending</p>
                {{/if}}
            </div>
            <img src="/images/chevron.png" alt="Chevron">
        </div>

        <div>
            <p>{{description}}</p>
            <form action="/actions/{{_id}}" method="post">
            <button type="submit" >Yes, I do it !</button>
            
            </form>
        </div>
        {{/each}}

    </div>

</main>