<header class="task-header">
    <a href="/actions"><img src="/images/chevron-green.png" alt="Chevron"></a>
    <h2>{{task.title}}</h2>

</header>
<main class="task-new-edit">

    <form action="/{{tasksList._id}}/new" method="post">

        <h3 class="trapecio">What will be your next step?</h3>

        <p>I will...</p>

        <input type="textarea" name="title" id="new-task" value="{{task.title}}">

        <h3>How hard will it be for you?</h3>

        <div class="radio-option">

                <input type="radio" id="easy" name="experience" value="5" {{{setChecked '5' item.type}}}>
                <label for="easy" class="one-radio-option green-option">Easy baby</label>

                <input type="radio" id="medium" name="experience" value="10" {{{setChecked '10' item.type}}}>
                <label for="medium" class="one-radio-option blue-option">Fair enough</label>

                <input type="radio" id="hard" name="experience" value="15" {{{setChecked '15' item.type}}}>
                <label for="hard" class="one-radio-option red-option">Super hard</label>

        </div>

        <h3>Do you want to share this task with the other users?</h3>

        <div class="radio-option">

                <input type="radio" id="yes" name="isPublic" value="yes" {{{setChecked 'yes' item.type}}}>
                <label for="yes" class="one-radio-option green-option">Yes, please</label>

                <input type="radio" id="no" name="isPublic" value="no" {{{setChecked 'no' item.type}}}>
                <label for="no" class="one-radio-option blue-option">No, thanks</label>

        </div>

        <button type="submit">Edit !</button>

    </form>

</main>