<!DOCTYPE html>
<html>

<head>
  <title>{{action.title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="//db.onlinewebfonts.com/c/9f94dc20bb2a09c15241d3a880b7ad01?family=Menlo" rel="stylesheet"
    type="text/css" />
</head>

<body id="modal-page">
  <main class="card">

    {{#if randomTask}}
    <p>Do you want to add the next task?</p>
    <p id="hint-p">{{randomTask.title}}</p>
    <div class="hint-accept-reject-container">
      <form action="/{{randomTask._id}}/accept/hint" method="post">
        <button class="modal-button" type="submit">Accept</button>
      </form>
      <a href="/actions/{{action._id}}" class="reject-button">Reject</a>
    </div>

    {{else}}
    <p>Sorry! There are no shared tasks in this action!</p>
    <a href="/actions/{{action._id}}">Ok!</a>
    {{/if}}

  </main>

</body>

</html>