  <div class="logo-header-blue"></div>
<header class="profile-header">
    <div class="blue-circle"></div>
    <div class="profile-title">
        <h3>{{user.name}}</h3>
        <img src="{{userLevel.img}}" alt="User rank">
        <h2>{{userLevel.name}}</h2>
    </div>
</header>

<main id="profile">
    <section class="user-data">
        <p>Your achievements</p>
        <div class="one-data">
            <p class="highlight">{{daysPassed}}</p>
            <p>days</p>
        </div>
        <div class="one-data">
            <p class="highlight">{{user.experience}}</p>
            <p>XP</p>
        </div>
    </section>

    <section class="user-exp">
        <p>Your goal</p>
        <div class="exp-bar">
            {{!-- BARRITA PORCENTAJE--}}
        </div>

        <p>{{points}} points left to level up</p>
    </section>

    {{#if user.dinosaved}}

    <section class="saved-dino">
        <h4>You already saved</h4>
        <div class="saved-dino-list">
            {{#each user.dinosaved}}
            <div class="one-dino">
                <img src="{{this.img}}" />
                <h5>{{this.name}}</h5>
            </div>
            {{/each}}
        </div>
    </section>

    {{else}}
    <section class="saved-dino">
        <h4>Go and save your first Dino!</h4>

    </section>
    {{/if}}
</main>