  <div class="logo-header-beige"></div>
  <div class= "flex-tasks">
<header class="task-header">
    <a href="/actions"><img src="/images/chevron-green.png" alt="Chevron"></a>
    <h2>{{action.title}}</h2>
</header>
<main class="list-page">
    {{#each tasksListPending}}
    <div class="one-task">
        <form action="/task/{{this._id}}/completed" method="post" class="complete-form ">
            <button type="submit" ></button>
            <p><a href="/task/{{this._id}}/edit">{{this.title}}</a></p>
        </form>
        <form action="/task/{{this._id}}/delete" method="post" class="delete-form">
            <button type="submit"><img src="/images/Bin-01.png" alt="Delete"></button>
        </form>
    </div>
    {{/each}}
  {{#each tasksListCompleted}}
    <div class="one-task">
        <form action="/task/{{this._id}}/completed" method="post" class="complete-form task-done">
            <button type="submit"class="button-done"></button>
            <p><a href="/task/{{this._id}}/edit">{{this.title}}</a></p>
        </form>
        <form action="/task/{{this._id}}/delete" method="post" class="delete-form">
            <button type="submit"><img src="/images/Bin-01.png" alt="Delete"></button>
        </form>
    </div>
    {{/each}}
</main>

  </div>

<footer id="task-footer">
    <a href="/{{action._id}}/hint"><img src="/images/hint.png" alt="Hint" class="hint-img"></a>
    <a href="/{{action._id}}/new" class="new-task-bt">
        <p>Add a new task</p>
        <img src="/images/add.png" alt="Add">
    </a>
</footer>